<div class="max-w-6xl mx-auto mb-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div
            class="bg-gray-200 rounded-xl h-64 flex items-center justify-center"
        >
            <div class="text-center text-gray-500">
                <i class="fas fa-image text-4xl mb-2"></i>
                <p></p>
            </div>
        </div>
        <div
            class="bg-gray-200 rounded-xl h-64 flex items-center justify-center"
        >
            <div class="text-center text-gray-500">
                <i class="fas fa-image text-4xl mb-2"></i>
                <p></p>
            </div>
        </div>
        <div
            class="bg-gray-200 rounded-xl h-64 flex items-center justify-center"
        >
            <div class="text-center text-gray-500">
                <i class="fas fa-image text-4xl mb-2"></i>
                <p></p>
            </div>
        </div>
        <div
            class="bg-gray-200 rounded-xl h-64 flex items-center justify-center"
        >
            <div class="text-center text-gray-500">
                <i class="fas fa-image text-4xl mb-2"></i>
                <p></p>
            </div>
        </div>
        <div
            class="bg-gray-200 rounded-xl h-64 flex items-center justify-center"
        >
            <div class="text-center text-gray-500">
                <i class="fas fa-image text-4xl mb-2"></i>
                <p></p>
            </div>
        </div>
        <div
            class="bg-gray-200 rounded-xl h-64 flex items-center justify-center"
        >
            <div class="text-center text-gray-500">
                <i class="fas fa-image text-4xl mb-2"></i>
                <p></p>
            </div>
        </div>
    </div>
</div>
