<div class="max-w-6xl mx-auto mb-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-200 rounded-xl h-64 overflow-hidden">
            <img src="/Actividades/1.jpg" alt="Actividad 1" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300">
        </div>
        <div class="bg-gray-200 rounded-xl h-64 overflow-hidden">
            <img src="/Actividades/2.jpg" alt="Actividad 2" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300">
        </div>
        <div class="bg-gray-200 rounded-xl h-64 overflow-hidden">
            <img src="/Actividades/3.jpg" alt="Actividad 3" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300">
        </div>
        <div class="bg-gray-200 rounded-xl h-64 overflow-hidden">
            <img src="/Actividades/4.jpg" alt="Actividad 4" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300">
        </div>
        <div class="bg-gray-200 rounded-xl h-64 overflow-hidden">
            <img src="/Actividades/5.jpg" alt="Actividad 5" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300">
        </div>
        <div class="bg-gray-200 rounded-xl h-64 overflow-hidden">
            <img src="/Actividades/6.jpg" alt="Actividad 5" class="w-full h-full object-cover hover:scale-105 transition-transform duration-300">
        </div>
    </div>
</div>
