<div class="max-w-6xl mx-auto">
            <div class="flex flex-col lg:flex-row gap-12 items-center">
                <div class="lg:w-1/2">
                    <h2 class="text-3xl font-bold text-primary mb-6">Nuestra Historia</h2>
                    <p class="text-gray-700 mb-4">
                        SUTENS: Sindicato Unitario de Trabajadores de la Educación Norte de Santander.
                    </p>
                    <p class="text-gray-700 mb-4">
                        
El Sindicato Unitario de Trabajadores de la Educación Norte de Santander (SUTENS) es una organización sindical de primer grado que agrupa a docentes, directivos docentes y administrativos que laboran en el Departamento de Norte de Santander en los diferentes niveles educativos. SUTENS se conformó el 29 de junio en 2016 cuando un grupo de docentes de los municipios de El Tarra y Teorama se unieron haciendo uso del derecho constitucional de asociación, agremiándose sindicalmente para luchar en la defensa de los derechos e intereses de los docentes.

                    </p>
                    <p class="text-gray-700">
                        Nuestra invitación es a crecer juntos, empuñando la bandera de lucha de clase y reivindicación de los derechos laborales qué aún son desconocidos por mucha gente.
                    </p>
                </div>
                <div class="lg:w-1/2">
                <div class="rounded-xl h-80 flex items-center justify-center overflow-hidden  group">
    <img src="Logo2.png" alt="Logo" class="w-full h-full object-contain p-4 max-w-4xl group-hover:scale-105 transition-transform duration-300">
</div>
                </div>
            </div>
        </div>