<div class="max-w-6xl mx-auto">
    <h2 class="text-3xl font-bold text-primary text-center mb-12">
        Nuestros Pilares Fundamentales
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Misión -->
        <div class="bg-white rounded-xl shadow-lg p-8 text-center">
            <h3 class="text-xl font-bold text-dark mb-4">Misión</h3>
            <p class="text-gray-700">
                Promover y proteger los derechos laborales, así como los intereses de nuestros miembros en materia salarial, prestaciones y condiciones de trabajo mediante la negociación colectiva, la representación activa, y la defensa de sus derechos, con el fin de garantizar un ambiente laboral, justo, equitativo y seguro para todos nuestros afiliados.
            </p>
        </div>

        <!-- Visión -->
        <div class="bg-white rounded-xl shadow-lg p-8 text-center">
            <h3 class="text-xl font-bold text-dark mb-4">Visión</h3>
            <p class="text-gray-700">
                El Sindicato Unitario de Trabajadores de la Educación Norte de Santander SUTENS, para el año 2030 será reconocido como sindicato líder en la defensa del bien común, donde todos los afiliados son beneficiados de manera equitativo, estableciendo estándares y desarrollo sostenible en el ambiente laboral y social.
            </p>
        </div>

        <!-- Valores -->
        <div class="bg-white rounded-xl shadow-lg p-8 text-center">
            
            <h3 class="text-xl font-bold text-dark mb-4">Pincipios sindicales</h3>
            <ul class="text-gray-700 text-left space-y-2">
                <li class="flex items-start">
                    <i class="fas fa-check text-accent mr-2 mt-1"></i>
                    <span>La independencia de clase </span>
                </li>
                <li class="flex items-start">
                    <i class="fas fa-check text-accent mr-2 mt-1"></i>
                    <span>La democracia sindical </span>
                </li>
                <li class="flex items-start">
                    <i class="fas fa-check text-accent mr-2 mt-1"></i>
                    <span>La solidaridad de clase </span>
                </li>
                <li class="flex items-start">
                    <i class="fas fa-check text-accent mr-2 mt-1"></i>
                    <span>La unidad de acción </span>
                </li>
                <li class="flex items-start">
                    <i class="fas fa-check text-accent mr-2 mt-1"></i>
                    <span>La unidad sindical  </span>
                </li>
            </ul>
        </div>
    </div>
</div>
